:root{
  --mainMaroon:#800000;
  --mainPink:#F5B7B1;
  --mainBlack:#17202A;
  --mainWhite:#FBFCFC;
  --mainOrange:#F5B041;
}

body{
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainBlack) !important;
}

.text-title{
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-maroon{
  color: var(--mainMaroon);
}

.text-bright{
  color: var(--mainPink);
}
